@{
    ViewBag.Title = "MINISTOP - Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .intro-about {
        background-color: #c8e3f5;
        padding: 8.2rem 0;
        position: relative;
        z-index: 3;
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
    }

    intro-about .wrap {
        margin: 0 -1rem;
    }

    .intro-about .copy {
        width: 62%;
        display: inline-block;
        vertical-align: middle;
        padding: 1rem;
    }

    img {
        border: 0;
        vertical-align: middle;
    }

    .intro-about .copy img {
        margin-bottom: 1rem;
        max-width: 27.4rem;
    }

    .intro-about .img figure {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 100%;
    }

    figure {
        margin: 0;
    }

    .intro-about .img figure img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .intro-about .img {
        max-width: 46.7rem;
        width: 38%;
        display: inline-block;
        vertical-align: middle;
        margin-left: -0.5rem;
        padding: 1rem;
    }


    .differen {
        background-color: #f0f0f0;
        padding: 13.6rem 0;
        position: relative;
        z-index: 2;
    }

        .differen .copy h3 {
            color: #0079c1;
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.35;
            padding: 3rem 0;
        }

        .differen .copy p {
            color: black;
            font-size: 1.6rem;
            line-height: 1.9;
        }

        .differen .img img {
            max-width: 100%;
        }

        .differen .img {
            width: 50%;
            display: inline-block;
            vertical-align: middle;
            padding: 3rem;
        }

        .differen .copy {
            width: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-left: -5px;
            padding: 3rem;
        }
</style>

<br />
<section class="intro-about">
    <div class="container">
        <div class="wrap">
            <div class="copy">
                <img src="https://gs25.com.vn/media/1051/logo.png" alt="logo about">
                <h3>Là thương hiệu độc lập đầu tiên tại Hàn Quốc được thành lập vào năm 1990, GS25 tự hào là đại diện tiêu biểu cho hệ thống cửa hàng tiện lợi của Hàn Quốc.</h3>
                <p>Với phương châm Lifestyle Platform, GS25 đã phát triển một nền tảng sống thường nhật, tối ưu những dịch vụ tiện ích, văn hóa ẩm thực mới gần gũi mang đến một trải nghiệm sống hiện đại và chất lượng cho khách hàng. Luôn giữ vững được vị trí dẫn đầu kể từ khi thành lập.</p>
            </div>
            <div class="img">
                <figure><img src="https://gs25.com.vn/media/1049/cuahang.jpg" alt="images store"></figure>
            </div>
        </div>
    </div>
</section>

<section class="differen">
    <div class="container">
        <div class="wrap">
            <div class="img">
                <figure><img src="https://gs25.com.vn/media/1052/untitled-1.png" alt="images product"></figure>
            </div>
            <div class="copy">
                <h3>GS25 cung cấp hàng hóa, dịch vụ với sự đa dạng, độc đáo và khác biệt</h3>
                <p>Hệ thống bán lẻ của tập đoàn GS cung cấp các sản phẩm và dịch vụ khác biệt trong việc phát triển các thực phẩm chế biến tươi, ngon, chất lượng cao và đảm bảo vệ sinh an toàn thực phẩm với giá cả phải chăng từ dòng sản phẩm YOUUS.</p>
            </div>
        </div>
    </div>
</section>
<br />
