@{
    ViewBag.Title = "MINISTOP - Trang chủ";
    
}

<body>
    <div class="row">
        <div class="col-md-12">
            @Html.Action("SlidePartial", "Home")
        </div>
  
    </div>

    <div>
        @Html.Action("NuocUong", "SanPham")
    </div>
    <div>
        @Html.Action("BanhKeo", "SanPham");
    </div>
</body>